<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Desenvolvedores</ion-card-title>
      <ion-card-subtitle>FEC-APP 2019</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Este é um aplicativo mobile, feito em Ionic, pelos alunos da Uniara do curso Sistemas da Informação.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item *ngFor="let item of alunos">
        <ion-avatar slot="start">
          <img src="{{item.avatar}}">
        </ion-avatar>
        <ion-label>
          <h3>{{item.nome}}</h3>
          <h4>{{item.sub}}</h4>
          <p>{{item.local}}</p>
        </ion-label>
        <ion-avatar slot="end">
          <a href="{{item.logoLinkedin}}" target="_blank" rel="linkedin">
            <ion-icon size="large" name="logo-linkedin"></ion-icon>
          </a>
        </ion-avatar>
        <ion-avatar slot="end">
          <a href="{{item.logoGithub}}" target="_blank" rel="github">
            <ion-icon size="large" name="logo-github"></ion-icon>
          </a>
        </ion-avatar>
      </ion-item>
  </ion-card>

  <ion-fab vertical="bottom" class="add" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openModal()" expand="full">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
