<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Maps
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <agm-map [style.height.px]="height" [latitude]="lat" [longitude]="lng" [gestureHandling]="'auto'"
    [mapTypeId]="'roadmap'" [zoomControl]="false" [zoom]="zoom">
        <agm-marker *ngFor="let item of tracks" [latitude]="item.lat" [longitude]="item.lng"
                     [label]="item.label" style="height: 300px">
            <agm-info-window [disableAutoPan]="true" [isOpen]="false">
                <!-- <small> -->
                    <ion-img class="widget-reveal-card-image" [src]="item.img"></ion-img>
                    <small>{{item?.address}}</small> <br>
                    <small>{{item?.city}}</small> <br>
                    <small>{{item?.lat}}, {{item?.lng}}</small>
                <!-- </small> -->
            </agm-info-window>
        </agm-marker>
    </agm-map>
</ion-content>