  <ion-header>
    <ion-toolbar>
      <ion-title>
        Cadastrar Projetos
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <form #form="ngForm" (ngSubmit)="logForm(form)" novalidate>
        <div>
          <ion-item>
            <ion-label>Nome Projeto</ion-label>
            <ion-input name="title" type="text" placeholder="Digite seu nome" ngModel required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Autores</ion-label>
            <ion-input name="author" type="text" placeholder="Digite os autores separados por virgula" ngModel required></ion-input>
          </ion-item>
        </div>
        <ion-button type="submit" block>Salvar</ion-button>
      </form>
    <!-- <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-icon [name]="item.icon" slot="start"></ion-icon>
        {{item.title}}
        <div class="item-note" slot="end">
          {{item.note}}
        </div>
      </ion-item>
    </ion-list> -->

  </ion-content>