<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home 
      <ion-label style="float: right; font-size: 0.86em">
        {{usuario}}
      </ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card content">
      <ion-img src="/assets/icon/home.png"></ion-img>
    </ion-card>

    <!-- <button ion-button full icon-left (click)='loginFacebook();' style="margin-bottom: 0px;">
      <ion-icon name="logo-facebook"></ion-icon>Login com Facebook
    </button> -->
</ion-content>
